{% extends 'base.html' %}
{% load static %}

{% block blockcontent %}
    {% csrf_token %}
    <div class="content-wrapper d-flex flex-column justify-content-center mt-5">
        <h3 class="text-center text-primary" id="game-id" data-gameid="{{ game.id }}">Game ID : {{ game.id }}</h3>
        <span class=" d-none" id="current-user" data-currentid="{{ request.user.id }}"></span>
        <div id="waiting-player" class="mx-auto d-flex align-items-center">
            <div class="spinner-border text-primary mr-2" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <span>Waiting for other player ...</span>
        </div>
        <span class="text-center">Current turn : <span id="set-current-turn" style="font-weight: bold; color: #1890ff" >{{ current_turn }}</span></span>
        {% if request.user == game.creator %}
            <div class="board-wrapper d-flex justify-content-center mt-4 mx-auto">
                <div class="board-creator d-flex justify-content-center mr-5 flex-column">
                    <div class="current-turn d-flex justify-content-center">                  
                        <div class="turn-waiting turn-waiting-creator spinner-border text-primary mr-2 d-none" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>                     
                        <span class="text-center" id="creator-name">{{game.creator}}</span>
                    </div>               
                    <div class="board-content">
                        {% for cell in board_creator %}
                            {% if cell.status == 'ship_pos' %}
                                <div class="cell-event ship-cell" data-user="{{ game.creator.id }}" data-index="{{ cell.map_index }}" data-game="{{ game.id }}" >{{ cell.map_index }}</div>
                            {% endif %}
                            {% if cell.status == 'free' %}
                                <div class="cell-event cell" data-user="{{ game.creator.id }}" data-index="{{ cell.map_index }}" data-game="{{ game.id }}" >{{ cell.map_index }}</div>
                            {% endif %}   
                            {% if cell.status == 'selected' %}
                                <div class="cell-event cell-selected" data-user="{{ game.creator.id }}" data-index="{{ cell.map_index }}" data-game="{{ game.id }}" >{{ cell.map_index }}</div>
                            {% endif %}     
                            {% if cell.status == 'ship_selected' %}
                                <div class="cell-event ship-selected" data-user="{{ game.creator.id }}" data-index="{{ cell.map_index }}" data-game="{{ game.id }}" >{{ cell.map_index }}</div>
                            {% endif %}            
                        {% endfor %}
                    </div>
                </div>

                <div class="board-opponent d-flex justify-content-center mr-5 flex-column">
                    <div class="current-turn d-flex justify-content-center">     
                        <div class="turn-waiting turn-waiting-opponent spinner-border text-primary mr-2 d-none" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <span class="text-center" id= "opponent-name">Waiting...</span>
                    </div>                
                    <div class="board-content">
                        {% for cell in board_opponent %}
                            {% if cell.status == 'ship_pos' %}
                                <div class="cell-event cell" data-user="{{ game.opponent.id }}" data-index="{{ cell.map_index }}" data-game="{{ game.id }}" >{{ cell.map_index }}</div>
                            {% endif %}
                            {% if cell.status == 'free' %}
                                <div class="cell-event cell" data-user="{{ game.opponent.id }}" data-index="{{ cell.map_index }}" data-game="{{ game.id }}" >{{ cell.map_index }}</div>
                            {% endif %}   
                            {% if cell.status == 'selected' %}
                                <div class="cell-event cell-selected" data-user="{{ game.opponent.id }}" data-index="{{ cell.map_index }}" data-game="{{ game.id }}" >{{ cell.map_index }}</div>
                            {% endif %}     
                            {% if cell.status == 'ship_selected' %}
                                <div class="cell-event ship-selected" data-user="{{ game.opponent.id }}" data-index="{{ cell.map_index }}" data-game="{{ game.id }}" >{{ cell.map_index }}</div>
                            {% endif %}            
                        {% endfor %}
                    </div>
                </div>

                <div class="game-chat">
                    <span>Chat</span>
                    <ul id="text-chat"></ul>
                    <div class="text-input w-100 d-flex justify-content-between">
                        <span id="chat-author" data-author="{{ request.user.username }}"></span>
                        <input id="text-mes" type="text" placeholder="enter messsage here" class="flex-grow-1 mr-2 px-2 py-1">
                        <button class="btn btn-primary" id="send-message">Send</button>
                    </div>
                    
                </div>
                
            </div>

        {% else %}
            <div class="board-wrapper d-flex justify-content-center mt-4 mx-auto">
                <div class="board-opponent d-flex justify-content-center mr-5 flex-column">
                    <div class="current-turn d-flex justify-content-center">     
                        <div class="turn-waiting turn-waiting-opponent spinner-border text-primary mr-2 d-none" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <span class="text-center" id= "opponent-name">Waiting...</span>
                    </div>                
                    <div class="board-content">
                        {% for cell in board_opponent %}
                            {% if cell.status == 'ship_pos' %}
                                <div class="cell-event ship-cell" data-user="{{ game.opponent.id }}" data-index="{{ cell.map_index }}" data-game="{{ game.id }}" >{{ cell.map_index }}</div>
                            {% endif %}
                            {% if cell.status == 'free' %}
                                <div class="cell-event cell" data-user="{{ game.opponent.id }}" data-index="{{ cell.map_index }}" data-game="{{ game.id }}" >{{ cell.map_index }}</div>
                            {% endif %}   
                            {% if cell.status == 'selected' %}
                                <div class="cell-event cell-selected" data-user="{{ game.opponent.id }}" data-index="{{ cell.map_index }}" data-game="{{ game.id }}" >{{ cell.map_index }}</div>
                            {% endif %}     
                            {% if cell.status == 'ship_selected' %}
                                <div class="cell-event ship-selected" data-user="{{ game.opponent.id }}" data-index="{{ cell.map_index }}" data-game="{{ game.id }}" >{{ cell.map_index }}</div>
                            {% endif %}            
                        {% endfor %}
                    </div>
                </div>

                <div class="board-creator d-flex justify-content-center mr-5 flex-column">
                    <div class="current-turn d-flex justify-content-center">                  
                        <div class="turn-waiting turn-waiting-creator spinner-border text-primary mr-2 d-none" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <span class="text-center" id="creator-name">{{game.creator}}</span>
                    </div>               
                    <div class="board-content">
                        {% for cell in board_creator %}
                            {% if cell.status == 'ship_pos' %}
                                <div class="cell-event cell" data-user="{{ game.creator.id }}" data-index="{{ cell.map_index }}" data-game="{{ game.id }}" >{{ cell.map_index }}</div>
                            {% endif %}
                            {% if cell.status == 'free' %}
                                <div class="cell-event cell" data-user="{{ game.creator.id }}" data-index="{{ cell.map_index }}" data-game="{{ game.id }}" >{{ cell.map_index }}</div>
                            {% endif %}   
                            {% if cell.status == 'selected' %}
                                <div class="cell-event cell-selected" data-user="{{ game.creator.id }}" data-index="{{ cell.map_index }}" data-game="{{ game.id }}" >{{ cell.map_index }}</div>
                            {% endif %}     
                            {% if cell.status == 'ship_selected' %}
                                <div class="cell-event ship-selected" data-user="{{ game.creator.id }}" data-index="{{ cell.map_index }}" data-game="{{ game.id }}" >{{ cell.map_index }}</div>
                            {% endif %}            
                        {% endfor %}
                    </div>
                </div>

                <div class="game-chat">
                    <span>Chat</span>
                    <ul id="text-chat"></ul>
                    <div class="text-input w-100 d-flex justify-content-between">
                        <span id="chat-author" data-author="{{ request.user.username }}"></span>
                        <input id="text-mes" type="text" placeholder="enter messsage here" class="flex-grow-1 mr-2 px-2 py-1">
                        <button class="btn btn-primary" id="send-message">Send</button>
                    </div>
                </div>
                
            </div>
            
        {% endif %}
        
    </div>
    

{% endblock blockcontent %}

{% block additional_scripts %}
    <script src="{% static 'game/creategame.js' %}""></script>
{% endblock additional_scripts %}



