{% extends 'base.html' %}

{% block blockcontent %}
    {% csrf_token %}
    <div class="wrapper col-lg-6 col-md-10 col-sm-12 mx-auto my-2">
        <div class="row">
            {% if request.user.is_authenticated %}
                <button class="create-game-btn btn btn-primary mx-auto my-5" data-user="{{ request.user.id }}"> Create game </button>
            {% else %}
                <a href=" {% url 'login' %} " class="btn btn-primary my-5 mx-auto">Login to start playing</a>
            {% endif %}
            
        </div>
        <div class="row d-flex justify-content-between p-3">

            <div id="lobby">
                <h3 class="text-primary">Lobby</h3>
                {% for lobby in lobbies %}
                    <div class="lobby-item d-flex justify-content-between">
                        <span>Game {{ lobby.id }}</span>
                        <a href="gameid/{{ lobby.id }}">Join</a>
                    </div>
                {% endfor %}
            </div>

            <div class="online-player">
                <h3 class="text-primary">Online player</h3>
            </div>

            <div class="leader-board">
                <h3 class="cleader-board-header text-primary">Leader Board</h3>
                <div class="leader-board-list">
                    <ul class="list-users mt-3">
                        {% for tc in top_scores %}
                            <li class="top-score-item">
                                <span class="score-user">{{ tc.user }}</span>
                                <span class="score-value">{{ tc.score }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </div>
{% endblock blockcontent %}

